<h1><%= @survey.title %></h1>
<form action="/form/<%= @survey.id %>" method="post">

  <% @survey.questions.each do |question| %>

    <label><%= question.text %></label>
    <select name="<%= question.text %>">

      <% question.choices.each do |choice| %>
        <option><%= choice.name %></option>
      <%end%>

    </select>

  <%end%>

  <button type="submit">Submit Survey</button>
</form>